.Home-grid {
  /*position: relative;*/
  height: 95%;
  /*min-height: 100%;*/
  flex: 1;
  /*width: 100%;*/
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  /*grid-template-areas:*/
  /*    "a a . ."*/
  /*    "a a . ."*/
  /*    ". . . ."*/
  /*    ". . . .";*/
  /*grid-template-areas: "a a a" "b c c" "b c c";*/
  display: grid;
  grid-gap: 4px;
  text-align: center;
  align-items: center;
  width: 96vw;


}
.Home-group {
  position: relative;
  /*grid-area: a;*/
  /*grid-row: 2 /4;*/
  /*grid-column: 2/4;*/
}
.Home-content {
}
.Home-root {
  position: relative;
  flex-direction: column;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
}

.Home-toggleEdit {
  position:absolute;
  height: auto;
  top:2%;
  right:7em;
  width: 5em;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 20%!important;
  /*padding-left: .8%;*/
}

.Home-edit-dropdown {
  position: absolute;
  height: 5em;
  top:2vh;
  right:2vh;
}

.Home-top {
  height: 5%;
}

.icon-button {
  height: 1.2em;
  width: auto;
  display: flex!important;
  justify-content: center!important;
  /*flex-direction: row;*/
  align-items: center!important;
  text-align: center!important;
  padding-left: 20%;

}

