.root {
  /*flex-direction: column;*/
  height: 100vh;
  /*background-size: 100%;*/
  /*background-position: 0 50vh;*/
  /*background-size: cover;*/
  position: relative;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Quicksand', sans-serif;
  /*background-repeat: no-repeat;*/
  background-image:url("../../public/images/background3.png");
}
.title {
  position: fixed;
  top: 25%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-size: 8vw;
  color: whitesmoke;
}
.description {
  position: fixed;
  top: 40%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
  font-size: 4vw;
  color: whitesmoke;
  align-items: center;
  text-align: center;
}
.loginButton {
  position: fixed;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

@media (max-width: 1400px) {
  .root{
    background-image:url("../../public/images/mobileBackground.png");
  }
  .title {
    font-size: 16vw;
  }
  .description {
    /*height:  10em;*/
    width:10em;
    font-size: 6vw;
    top: 48%;
  }
  .loginButton {
    top: 64%;
  }

}

@media (max-width: 1000px) {
  .root{
    background-image:url("../../public/images/mobileBackground.png");
  }
  .title {
    font-size: 16vw;
  }
  .description {
    /*height:  10em;*/
    width:10em;
    font-size: 6vw;
    top: 48%;
    /*left: 64%;*/
    transform: translate(-50%, -50%);
  }
  .loginButton {
    top: 64%;
  }

}