.CollapsedGroup.grid {
  height: 100%;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  text-align: center;
  align-items: center;
}

.CollapsedGroup-button {
  /*background-color: #1F222280;*/
  /*background-color: whitesmoke;*/
  width: 80px;
  height: 80px;
  border: none !important;
  border-radius: 15%;
  /*border-color: white;*/
}

.CollapsedGroup-button:hover {
  cursor: pointer;
}

.CollapsedGroup-button:focus {
  background-color: rgba(0, 0, 0, 0.7);
  /* outline: thin dotted; */
  outline: none;
}

.CollapsedGroup-minimizedIcon {
  width: 14px;
  height: 14px;
}
@media (max-width: 1000px) {
  .CollapsedGroup-button{
    width: 8vh;
    height:8vh;
  }

  .CollapsedGroup-minimizedIcon{
    width: 1.4vh;
    height: 1.4vh;
  }
}