.grid-individual {
    width: 224px;
    height:120px;
    /*background-color: #396dff;*/
    /*outline: white solid;*/
    /*display: flex;*/
    /*align-items: center;*/
    /*text-align: center;*/
    /*justify-content: center;*/

}

.grid-individual-group {
    display: flex;
    width: 30%;
    height: 30%;
    /*background-color: #396dff;*/
    text-align: center;
    align-items: center;
}
@media (max-width: 1000px) {
    .grid-individual {
        width: 10vh;
        height:10vh;
    }
}