.Group.modal {
  width: 40vw !important;
  height: 40vw !important;
  /*height: 400px;*/
  max-height: 100%;
  display: flex !important;
  /*background-color: #1F222290 !important;*/
  /*color: white;*/
  border-radius: 10% !important;
  font-family: 'Quicksand', sans-serif;
}



.Group.grid {
  height: 100%;
  display: flex;
  /*display: grid;*/
  /*grid-gap: 4px;*/
  /*grid-template-columns: repeat(3, 1fr);*/
  /*grid-template-rows: repeat(3, 1fr);*/
  /*text-align: center;*/
  align-items: center;
}



.left-arrow {
  /*color: white;*/
  position: fixed;
  left: 50%;
  transform: translateX(-800%);
  bottom: 50%;
}

.right-arrow {
  /*color: white;*/
  position: fixed;
  left: 50%;
  transform: translateX(720%);
  bottom: 50%;
}
.group-page-number{
  font-size: x-large;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  top: -5%;
}
.group-description {
  font-size: xxx-large;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: -10%;
  text-overflow: ellipsis;
  max-width: 8em;
  white-space: nowrap;
  overflow: hidden;
  line-height: normal;
}

@media (min-width: 2000px) {
  .Group.modal {
    width: 80vh !important;
    height: 80vh !important;
  }
  .group-page-number {
    font-size: x-large;
    top: -5%;
  }

  .right-arrow {
    transform: translateX(720%);
  }

  .left-arrow {
    transform: translateX(-800%);
  }
  .group-description {
    font-size: xxx-large;
    bottom: -10%;
    max-width: 8em;
  }

}
/*@media (max-width: 1500px) {*/
/*  .Group.modal {*/
/*    width: 40vh !important;*/
/*    height: 40vh !important;*/
/*  }*/

/*  .right-arrow {*/
/*    transform: translateX(710%);*/
/*  }*/

/*  .group-page-number {*/
/*    font-size: xxx-large;*/
/*    top: -24%;*/
/*  }*/

/*  .group-description {*/
/*    font-size: xxx-large;*/
/*    bottom: -30%;*/
/*    max-width: 15em;*/
/*  }*/
/*}*/
@media (min-width: 2000px) {
  .Group.modal {
    width: 56vh !important;
    height: 56vh !important;
  }

  .right-arrow {
    transform: translateX(800%);
  }

  .left-arrow {
    transform: translateX(-890%);
  }

  .group-page-number {
    font-size: xxx-large;
    top: -20%;
  }

  .group-description {
    font-size: xxx-large;
    bottom: -24%;
    max-width: 15em;
  }
}


@media (max-width: 1400px) {
    .Group.modal {
      width: 48vh !important;
      height: 48vh !important;
    }

    .right-arrow {
      transform: translateX(710%);
    }

  .group-page-number {
    font-size: xxx-large;
    top: -20%;
  }

  .group-description {
    font-size: xxx-large;
    bottom: -24%;
    max-width: 15em;
  }
}

@media (max-width: 1000px) {
  .Group.modal {
    width: 40vh !important;
    height: 40vh !important;
  }
  .group-page-number {
    font-size: xxx-large;
    top: -20%;
  }
  .group-description {
    font-size: xxx-large;
    bottom: -24%;
    max-width: 15em;
  }

}

/*@media (max-width: 980px) {*/
/*  .Group.modal {*/
/*    width: 40vh !important;*/
/*    height: 40vh !important;*/
/*  }*/
/*  .group-page-number {*/
/*    font-size: xxx-large;*/
/*    top: -32%;*/
/*  }*/

/*  .right-arrow {*/
/*    transform: translateX(720%);*/
/*  }*/

/*  .left-arrow {*/
/*    transform: translateX(-800%);*/
/*  }*/
/*  .group-description {*/
/*    font-size: xxx-large;*/
/*    bottom: -15%;*/
/*    max-width: 15em;*/
/*  }*/

/*}*/



/*.group-container{*/
/*    !*display: grid;*!*/
/*    !*grid-template-columns: auto auto auto;*!*/
/*    align-items: stretch!important;*/
/*    flex-grow: 4;*/
/*    color: #396dff;*/

/*}*/

/*grid-template-rows: repeat(3, 1fr);*/

/*display: grid; grid-template-rows: repeat(3, 1fr); grid-template-columns: repeat(3, 1fr);*/

/*.specialGrid { display: grid; grid-template-rows: repeat(3, 1fr); grid-template-columns: repeat(3, 1fr); }*/
