.IconSelect-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.IconSelect-option {
  width: 4.5vw;
  height: 4.5vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.IconSelect-option:hover {
  border: solid 2px rgb(199, 199, 199);
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.IconSelect-option-selected {
  width: 4.5vw;
  height: 4.5vw;
  border: solid 3px rgb(80,185,235);
  border-radius: 20%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.IconSelect-bookmarkImage {
  width: 3vw;
  height: 3vw;
}

.IconSelect-invisibleInput {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.IconSelect-fileUploadImage {
  width: 3vw;
  height: 3vw;
}

.IconSelect-default-loader {
  font-size: small;
}

.IconSelect.ui.loader.light:after {
  border-color: black lightgrey lightgrey !important;
}
