.IconSelect-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.IconSelect-default {
  width: 4vw;
  height: 4vw;
}

.IconSelect-default-selected {
  width: 4vw;
  height: 4vw;
  border: solid 2px rgb(132, 171, 255);
  border-radius: 20%;
}

.IconSelect-standard {
  width: 4vw;
  height: 4vw;
  /*object-fit: contain;*/
  padding: 2% 0;
}

.IconSelect-standard-selected {
  width: 4vw;
  height: 4vw;
  border: solid 2px rgb(132, 171, 255);
  border-radius: 20%;
  /*object-fit: contain;*/
  padding: 2% 0;
  /*vertical-align:center*/


}

.bookmarkImage {
  width: 3vw;
  height: 3vw;
  /*padding: 5% 0;*/
  /*object-fit: contain;*/

}
.NewBookmarkForm-Upload {
  width: 3vw;
  height: 3vw;
}

