.IconSelect-container {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}

.IconSelect-option {
  width: 4.5vw;
  height: 4.5vw;
  padding: 2% 0;
}

.IconSelect-option:hover {
  border: solid 2px rgb(199, 199, 199);
  border-radius: 20%;
  padding: 2% 0;
}

.IconSelect-option-selected {
  width: 4.5vw;
  height: 4.5vw;
  border: solid 2px rgb(132, 171, 255);
  border-radius: 20%;
  padding: 2% 0;
}

.IconSelect-bookmarkImage {
  width: 3vw;
  height: 3vw;
}

.IconSelect-invisibleInput {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.IconSelect-fileUploadImage {
  width: 3vw;
  height: 3vw;
}