.NewComponentModal.modal {
  background-color: rgb(39, 39, 39) !important;
  color: rgba(236, 236, 236, 0.986) !important;
  border-radius: 20px !important;
}

.NewComponentModal.ui.modal {
  background-color: rgb(39, 39, 39);
}

.NewComponentModal.modal.light {
  background-color:rgb(245, 245, 245) !important;
  color: rgb(39, 39, 39) !important;
  border-radius: 20px !important;
}

.NewComponentModal.ui.modal.light {
  background-color: rgb(245, 245, 245);
}