
.NewComponentModal.modal {
    background-color: rgb(39, 39, 39) !important;
    color: rgba(236, 236, 236, 0.986) !important;
}

.NewComponentModal.ui.modal {
    background-color: rgb(39, 39, 39);
}